<h1>Welcome to my site, <%= @user.name %></h1>
<p>you have successfully signed up to My new Site and now have full access.
Your username is: <%= @user.email %>.<br></p>
<p>Thanks for joining and have a great day!</p>
